# --- CORE DJANGO & DATABASE DRIVERS ---
django
mysqlclient==2.2.8
mysql-connector-python==26.7.0

# --- AI & DATA EXTRACTION (LANGCHAIN) ---
langchain==1.4.0
langchain-community==0.4.2
langchain-core==1.6.3

# --- GUI & INTERFACE ---
customtkinter==6.0.0
pillow==12.3.0

# --- COMPUTER VISION & MACHINE LEARNING (YOLO) ---
ultralytics==8.4.149
opencv-contrib-python==5.0.0.93

# --- SYSTEM & DATA UTILITIES ---
psutil==7.2.2
pyserial==3.5
pandas==3.0.5
openpyxl==3.1.5
playsound==1.2.2
python-dotenv

django
google-genai
pytz